{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>{{ work.name }}</h1>
    <hr>
    <img src="{{ url_for('static', filename='images/'+work.image) }}" alt="{{ work.name }}" class="work-image">

    <br><br>

    <table class="table">
        <tbody>
            <tr>
                <th style="width:100px">名前</th>
                <td>{{ work.name }}</td>
            </tr>
            <tr>
                <th>説明</th>
                <td>{{ work.description }}</td>
            </tr>
            <tr>
                <th>作成日</th>
                <td>{{ work.date }}</td>
            </tr>
            <tr>
                <th>リンク</th>
                <td>
                    {% if work.site %}
                        <a href="{{ work.site }}">公開サイト </a> 
                    {% endif %}
                    {% if work.qiita %}
                        <a href="{{ work.qiita }}">Qiita </a>
                    {% endif %}
                    {% if work.github %}
                        <a href="{{ work.github }}">Github </a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}