{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>経歴</h1>
    <div class="card career-card">
        <div class="card-header">2015年3月</div>
        <div class="card-body">
            近畿大学附属高校 特進一類 卒業
        </div>
    </div>
    <div class="card career-card">
        <div class="card-header">2019年3月</div>
        <div class="card-body">
            大阪市立大学 工学部 電気情報工学科 卒業
        </div>
    </div>
    <div class="card career-card">
        <div class="card-header">2019年4月</div>
        <div class="card-body">
            神戸大学大学院 システム情報学研究科 在籍
        </div>
    </div>
</div>
{% endblock %}