{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>連絡先</h1>
        <br>
        <table class="table">
            <tbody>
                <tr>
                    <th style="width:100px">メール</th>
                    <td>wataoka.koki@gmail.com</td>
                </tr>
                <tr>
                    <th style="width:100px">Twitter</th>
                    <td><a href="https://twitter.com/wataoka_koki">@Wataoka_Koki</a></td>
                </tr>
                <tr>
                    <th style="width:100px">Github</th>
                    <td><a href="https://github.com/wataoka">@wataoka</a></td>
                </tr>
                <tr>
                    <th style="width:100px">Qiita</th>
                    <td><a href="https://qiita.com/wataoka">@wataoka</a></td>
                </tr>
                <tr>
                    <th style="width:100px">Facebook</th>
                    <td><a href="https://www.facebook.com/profile.php?id=100004295711268&ref=bookmarks">綿岡晃輝</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}