{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>連絡先</h1>
        <br>
        <table class="table">
            <tbody>
                <tr>
                    <th style="width:100px">メール</th>
                    <td>wataoka.koki@gmail.com</td>
                </tr>
                <tr>
                    <th style="width:100px">Twitter</th>
                    <td>@Wataoka_Koki</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}