{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="loves">
      <div class="loves-wrap">
          <div class="loves-text">Wataoka</div>
          <div class="loves-text">Loves</div>
          <br>
          <div class="loves-text">
            <span class="word wisteria">Math.</span>
            <span class="word belize">AI.</span>
            <span class="word pomegranate">Panda.</span>
            <span class="word green">Simple.</span>
            <span class="word brown">Cat.</span>
          </div>
      </div>
    </div>
    
    <div class="icon">
        <img src="{{ url_for('static', filename='images/me01.jpg') }}" alt="wataoka" class="icon-img">
    </div>

    <br><br>
    
    <div class="intro">
        Hello, I'm Wataoka Koki.<br>I work as AI Engineer at LINE.
    </div>
</div>
{% endblock %}