{% extends "layout.html" %}
{% block content %}
<div class="gray-back">
    <div class="card-columns">
    {% for id, work in works_dict.items() %}
    <div class="card-wrap">
        <div class="card p-1">
            <img class="card-img-top" src="{{ url_for('static', filename=work.image) }}" alt="homepage">
            <div class="card-body">
              <div class="card-title">{{ works_dict[id].name }}</div>
              <a href="{{ url_for('work', work_id=id) }}" class="btn btn-primary card-button">詳細</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}