{% extends "base.html" %}
{% block content %}
<div class="container">

    <h1>言語スキル</h1>
    {% for id, skill in language_dict.items() %}
    <div class="card skill-card text-white mb-3">
        <div class="card-header bg-lang">{{ skill.title }} <span class="star">{{ "★"*skill.stars }}</span></div>
        <div class="card-body">
            <p class="card-text">
                {{ skill.text }}
            </p>
        </div>
    </div>
    {% endfor %}

    <hr>
    <br>
    <h1>Webフレームワーク</h1>
    {% for id, skill in framework_dict.items() %}
    <div class="card skill-card text-white mb-3">
        <div class="card-header bg-web">{{ skill.title }} <span class="star">{{ "★"*skill.stars }}</span></div>
        <div class="card-body">
            <p class="card-text">
                {{ skill.text }}
            </p>
        </div>
    </div>
    {% endfor %}

    <br>
    <h1>機械学習フレームワーク</h1>
    {% for id, skill in machine_learning_dict.items() %}
    <div class="card skill-card text-white mb-3">
        <div class="card-header bg-ml">{{ skill.title }} <span class="star">{{ "★"*skill.stars }}</span></div>
        <div class="card-body">
            <p class="card-text">
                {{ skill.text }}
            </p>
        </div>
    </div>
    {% endfor %}

    <hr>
    <br>
    <h1>その他</h1>
    {% for id, skill in other_dict.items() %}
    <div class="card skill-card text-white mb-3">
        <div class="card-header bg-secondary">{{ skill.title }} <span class="star">{{ "★"*skill.stars }}</span></div>
        <div class="card-body">
            <p class="card-text">
                {{ skill.text }}
            </p>
        </div>
    </div>
    {% endfor %}



</div>
{% endblock %}