<!-- config -->
<title>Wataoka</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

<!-- css -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta property="og:title" content="Wataoka" />
<meta property="og:description" content="ポートフォリオなどを記載しています。" />
<meta property="og:image" content="https://avatars0.githubusercontent.com/u/33646535?v=4" />