<nav class="navbar navbar-expand-sm navbar-dark bg-dark bd-navbar">
    <a class="navbar-brand" href="{{ url_for('home') }}">Wataoka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portfolio') }}">ポートフォリオ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('career') }}">経歴</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('skill') }}">スキル</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('study') }}">研究業績</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('paper') }}">論文要約</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">連絡先</a>
            </li>
        </ul>
    </div>
</nav>